/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO
\*----------------------------------------------- */


/*----------------- *\
    Default styles
\*------------------*/

* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

/*----------------- *\
    Main styles
\*------------------*/

body{
    background-color: #fff;
    font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
    color: #000;
}

.page-container{
    max-width: 1430px;
    margin: 0 auto;
}
