/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO

    DEFAULT and MAIN styles
\*----------------------------------------------- */


/*----------------- *\
    Reset styles
\*------------------*/

* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
}

/*---------------------------------------- *\
    Main styles
\*-----------------------------------------*/

body{
    background-color: #fff;
    font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
    color: #000;
}

.page-container{
    max-width: 1430px;
    margin: 0 auto;
    padding: 25px;
}




