/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO
\*----------------------------------------------- */


/*----------------- *\
    Default styles
\*------------------*/

* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

/*----------------- *\
    Main styles
\*------------------*/

