/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO

    RESPONSIVE DESIGN styles
\*----------------------------------------------- */

@media screen and (max-width: 960px){

    .page-container{
        padding: 0px;
    }

    /*-----------------*\
           HEADER
    \*-----------------*/

    .banner{
        flex-direction: column;
    }

    .banner__logo{
        align-self: flex-start;
    }

    .menu{
        padding: 0;
    }

    .menu li:last-child{
        position: absolute;
        top: 10px;
        right: 30px;
    }

    /*-----------------*\
           SEARCH
    \*-----------------*/


    /*-----------------*\
          FILTERS
    \*-----------------*/

    .filters__container{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .filters__title{
        flex-basis: 100%;
        margin: 15px 0;
    }

    .filters__box{
        margin: 5px;
    }


    /*------------------*\
         HEBERGEMENTS
    \*------------------*/

    .hebergements{
        grid-template-columns: 1fr;
    }

    .hebergements__content{
        padding: 0;
    }

    .hebergements__content{
        background-color: white;
    }

    .hebergement__card{
        width: 100%;
    }

    .hebergements__button{
        background-color: white;
    }

    /*------------------*\
          ACTIVITES
    \*------------------*/

    .activites__grille{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }





}