/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO

    RESPONSIVE DESIGN styles
\*----------------------------------------------- */

@media screen and (max-width: 1380px){

    .activites__grille{
        flex-direction: column;
    }

    .activite__card{
        width: 100%;
        height: 445px;
    }

    .activite__image{
        height: 390px;
    }

}

/*------------------------- MAX WIDTH 1200 ---------------------------------------*/
@media screen and (max-width: 1200px){

    /*-----------------*\
         HEBERGEMENTS
    \*-----------------*/

    .hebergements{
        grid-template-columns: 1fr;
    }

    .populaire{
        order: 1;
        margin-top: 20px;
    }

    .principal{
        order: 2;
        background: #fff;
    }

    .hebergements__grille--populaire{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*------------------*\
       FOOTER
    \*------------------*/

    .footer__box{
        flex-basis: 100%;
        margin: 20px;
        padding: 0;
    }

    .footer__box:not(:first-child){
        margin: 20px;
    }

}
/*------------------------- MAX WIDTH 768 ---------------------------------------*/
@media screen and (max-width: 768px){

    .page-container{
        padding: 0;
    }

    .header{
        padding: 0;
    }

    .main{
        padding: 0 25px;
    }

    /*-----------------*\
          BANNER
    \*-----------------*/

    .banner{
        flex-direction: column;
    }

    .banner__logo{
        align-self: flex-start;
        padding: 20px 0 0 20px;
    }

    .banner__menu{
        width: 100%;
    }

    /*-----------------*\
            MENU
    \*-----------------*/

    .menu{
        width: 100%;
        justify-content: normal;
    }

    .menu li:nth-child(1), .menu li:nth-child(2){
        width: 50%;
        text-align: center;
    }

    .menu li:last-child{
        position: absolute;
        top: 2px;
        right: 15px;
        font-family: "Raleway Bold", Arial, SansSerif;
        color: #0065FC;
    }

    .menu__link{
        padding: 35px 0 20px 0;
        box-shadow: 0 2px  #F2F2F2;
    }

    .menu__item:last-child .menu__link{
        box-shadow: none;
    }

    .menu__link:hover{
        box-shadow: 0 2px  #0065FC;
        font-family: "Raleway Bold", Arial, SansSerif;
    }

    .menu__item:last-child .menu__link:hover{
        box-shadow: none;
    }


    /*-----------------*\
           SEARCH
    \*-----------------*/

    .search{
        width: 100%;
        margin-top: 25px;
        padding: 0 20px;
    }

    .search-bar{
        margin-top: 25px;
    }

    /*-----------------*\
          FILTERS
    \*-----------------*/

    .filters__container{
        margin: 0;
        padding: 20px;
    }

    .filters__container{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .filters__title{
        flex-basis: 100%;
        margin: 15px 0;
    }

    .filters__box{
        margin: 5px;
    }

    /*-----------------*\
         INFORMATION
    \*-----------------*/

    .information{
        padding: 0 20px;
    }

    /*-----------------*\
         HEBERGEMENTS
    \*-----------------*/


    .hebergements__content{
        padding: 10px;
    }

    .hebergement__image{
        width: 100%;
    }

    .hebergements__button{
        background-color: white;
    }

    .hebergements-poplaires__icon{
        width: 100%;
    }

    .title{
        margin: 20px auto;
    }

    /*------------------*\
          ACTIVITES
    \*------------------*/

    .activites{
        padding: 0 10px;
    }

    .activites__grille{
        justify-content: center;
    }
}

/*------------------------- MAX WIDTH 568 ---------------------------------------*/
@media screen and (max-width: 568px) {

    html, body{
        overflow-x: hidden;
    }

    .header, .main{
        padding: 0;
    }

    /*-----------------*\
          SEARCH BAR
    \*-----------------*/

    .search{
        padding: 0 15px;
    }

    .search-bar__text{
        font-size: 1.3em;
    }

    .search__text{
        display: none;
    }

    .search-bar__text{
        font-size: 1.1em;
    }

    .search-bar__button{
        width: 50px;
        min-width: 50px;
        height: 50px;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: #0065FC;
        color: #fff ;
    }

    .search-bar__button::after{
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        text-align: center;
        font-size: 1em;
        font-weight: 900;
        color: #fff;
    }

    /*------------------*\
         HEBERGEMENTS
    \*------------------*/

    .hebergement__card{
        min-width: 100%;
        padding: 5px;
    }

    .populaire{
        border-radius: 0;
    }

    .hebergement__card--populaire{
        width: 100%;
    }

    /*------------------*\
         ACTIVITES
    \*------------------*/
    .activite__card{
        height: 190px;
    }

    .activite__image{
        height: 135px;
    }

    /*------------------*\
        FOOTER
    \*------------------*/

    .footer__container{
        padding: 20px 0 20px 10px;
    }
}