/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO
\*----------------------------------------------- */

.filters__container{
    margin: 20px 0;
}
.filters__container, .filters__box{
    display: flex;
    align-items: center;
}

.filters__title{
    margin-right: 20px;
}

.filters__box{
    margin: 0 10px;
}

/*--------------------------------------- *\
    COMMON styles
\*----------------------------------------*/

input[type="checkbox"].checkbox {
    display: none;
}

input[type="checkbox"].checkbox + label {
    position: relative;
    display: inline;
    height: 48px;
    border-radius: 50px;
    border: solid 1px #F2F2F2;
    background-color: #fff;
    transition: 1s;
}

.checkbox__title{
    position: absolute;
    top: calc(50% - 8px); /* centrage vertical */
    font-size: 1em;
    font-weight: 600;
    transition: 1s;
}

input[type="checkbox"].checkbox + label:before {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    background-color: #cceeff;
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    color: #0065FC;
    font-weight: 900;
    position: absolute;
    transition: 1s;
}

input[type="checkbox"].checkbox:hover + label::before{
    background-color: white;
    color: #0065FC;
    transition: 1s;
}

input[type="checkbox"].checkbox:hover + label{
    background-color: #0065FC;
    transition: 1s;
}

input[type="checkbox"].checkbox:hover + label .checkbox__title{
    color: #DEEBFF;
    transition: color 1s, transform 1s ;
}


/*--------------------------------------- *\
    ECONOMIQUE styles
\*----------------------------------------*/

input[type="checkbox"].economique+ label {
    width: 176px;
}

input[type="checkbox"].economique + label:before {
    content: "\f53a";
}

input[type="checkbox"].economique:hover + label::before{
    transform: translate(130px) rotate(360deg);
    border: solid 1px #f2f2f2;
}

input[type="checkbox"].economique:hover + label .checkbox__title{
    transform: translate(-38px);
}

/*--------------------------------------- *\
    FAMILIAL styles
\*----------------------------------------*/

input[type="checkbox"].familial+ label {
    width: 140px;
}

input[type="checkbox"].familial + label:before {
    content: "\f183";
}

input[type="checkbox"].familial:hover + label::before{
    transform: translate(92px) rotate(360deg);
    border: solid 1px #f2f2f2;
}

input[type="checkbox"].familial:hover + label .checkbox__title{
    transform: translate(-40px);
}

/*--------------------------------------- *\
    ROMANTIQUE styles
\*----------------------------------------*/

input[type="checkbox"].romantique+ label {
    width: 170px;
}

input[type="checkbox"].romantique + label:before {
    content: "\f004";
}

input[type="checkbox"].romantique:hover + label::before{
    transform: translate(122px) rotate(360deg);
    border: solid 1px #f2f2f2;
}

input[type="checkbox"].romantique:hover + label .checkbox__title{
    transform: translate(-38px);
}


/*--------------------------------------- *\
    ANIMAUX styles
\*----------------------------------------*/

.checkbox__title{
    right: 20px;
}

input[type="checkbox"].animaux+ label {
    width: 220px;
}

input[type="checkbox"].animaux + label:before {
    content: "\f6d3";
}

input[type="checkbox"].animaux:hover + label::before{
    transform: translate(172px) rotate(360deg);
    border: solid 1px #f2f2f2;
}

input[type="checkbox"].animaux:hover + label .checkbox__title {
    transform: translate(-42px);
}

