/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO
\*----------------------------------------------- */


.header{
    max-width: 100%;
    height: auto;
}

/*------------- *\
      BANNER
\*--------------*/

.banner{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------------- *\
      MENU
\*--------------*/

.menu{
    width: 400px;
    margin: 2px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.menu__link{
    display: block;
    padding: 50px 0;
    font-size: 1em;
    text-decoration: none;
    color: #0065FC;
    box-shadow: ;
}

.menu__link:hover{
    box-shadow: 0 -2px 0 #0065FC;
}

.menu__item:last-child .menu__link:hover{
    box-shadow: none;
}

.menu__item:last-child .menu__link{
    font-family: "Raleway Bold", Arial, SansSerif;
}



/*---------------------- *\
    INFORMATION TEXT
\*-----------------------*/
.information__title{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 0.8em;
    font-weight: normal;
}

.information__title::before{
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50px;
    border: solid thin lightgray;
    font-family: "Font Awesome 5 Free";
    content: "\f129";
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #0065FC;
}