/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO
\*----------------------------------------------- */

/***** COMMON *****/

.activites{
    width: 100%;
    margin-top: 60px;
}

.activites__grille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activite__card{
    width: 305px;
    margin: 10px 0;
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey ;
    overflow: hidden;
}

.activite__image{
    overflow: hidden;
}

.activite__image img{
    object-fit: cover;
}

.activite__informations{
    width: auto;
    margin: 5px;
    border-radius: 0 0 25px 25px;
    font-size: 0.9em;
}

.activite__title{
    padding: 10px 0 0 10px;
}

/*****  ACTIVITES BOX *****/

.activite__box--medium{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/****** VIEUX PORT *****/

.activite__card--vieux-port{
    height: 445px;
}

.activite__image--vieux-port{
    height: 390px;
}

.activite__image--vieux-port img{
    height: 100%;
    object-fit: cover;
}


/****** FORT DE POMEGUES *****/

.activite__card--fort-pomegues{
    height: 235px;
}
.activite__image--fort-pomegues{
    height: 180px;
}

/****** ILES DU FRIOUL *****/

.activite__card--iles-frioul{
    height: 165px;
}
.activite__image--iles-frioul{
    height: 110px;
}


/****** PARC NATIONAL DES CALANQUES   *****/

.activite__card--calanques{
    height: 445px;
}
.activite__image--calanques{
    height: 390px;
}

.activite__image--calanques img{
    height: 100%;
    object-fit: cover;
}

/****** NOTRE DAME DE LA GARDE *****/

.activite__card--notre-dame{
    height: 192px;
}
.activite__image--notre-dame{
    height: 138px;
}


/****** PARC DE LONGCHAMP *****/

.activite__card--parc-lonchamp{
    height: 205px;
}
.activite__image--parc-lonchamp{
    height: 152px;
}