/*------------------------------------------------*\
    Project name: Reservia
    Author: Adelino ARAUJO

    ACTIVITES styles
\*----------------------------------------------- */

/***** COMMON *****/

.activites{
    width: 100%;
}

.activites__grille{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
}
.activite__card{
    width: 300px;
    margin: 10px 10px;
    border-radius: 25px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey ;
    overflow: hidden;
}

.activite__image{
    overflow: hidden;
}

.activite__informations{
    width: auto;
    height: 55px;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
}

.activite__title{
    padding: 10px 0 0 10px;
}


/****** LOW *****/

.activite__card--low{
    height: 165px;
}

.activite__image--low{
    height: 115px;
}

/****** MEDIUM *****/

.activite__card--medium{
    height: 235px;
}
.activite__image--medium{
    height: 185px;
}

/****** HIGH *****/

.activite__card--high{
    height: 445px;
}
.activite__image--high{
    height: 390px;
}

.activite__image--high img{
    height: 100%;
    object-fit: cover;
}
